* {
    margin : 0;
    padding : 0;
    box-sizing : border-box;
    font-family : Arial, sans-serif;
}
h1 {
    color : blue;
    text-align : center;
    margin-top : 20px;
}

h2 {
    color : green;
    text-align : center;
    margin-top : 10px;
}